Repository okatsn/my-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: dockerbuild1, dockerbuild2, dockerbuild4, testing2

dockerbuild1:
  run: . ./docker_build_and_push.sh

dockerbuild2:
  run: . ./julia-debian-build/docker_build_and_push.sh

dockerbuild4:
  run: . ./quarto-debian-build/docker_build_and_push.sh

testing2:
  run: . ./echo_hello.sh

Fix paths in READMEs' examples..
  my-jupyter-with-julia/README.md
  my-tex-life-with-julia/README.md
Due: none

Explain the issue and fix the startup script
  julia-debian-build/startup.jl
Due: none

Clean outdated comments.
  my-tex-life-with-julia/Dockerfile
Due: none

Correct the image name.
  julia-debian-build/startup.jl
Due: none

Update Julia debian build to v1.12-2026b
  julia-debian-build/Dockerfile
  julia-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2, testing2

Fix the rest of docker-building shell scripts for trapping error.
  go-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/docker_build_and_push.sh
  my-mini-explorer/docker_build_and_push.sh
  my-tex-life-with-julia/docker_build_and_push.sh
  my-util-box/docker_build_and_push.sh
  quarto-debian-build/docker_build_and_push.sh
Due: testing2

Set ENV `JULIA_PKG_USE_CLI_GIT` in Dockerfile.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Agent file unified to `~/projects/my-agents`
  my-jupyter-with-julia/docker-compose.mustache
Due: none

Update docker-compose.yaml for my-jupyter-with-julia
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
Due: none

Update my-tex-life-with-julia template.
  my-tex-life-with-julia/docker-compose.mustache
Due: none

Update vscode settings.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Add security guideline for passing token to docker.
  my-jupyter-with-julia/README.md
Due: none

Keep docker-compose.yml up-to-date (my-jupyter-with-julia)
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
Due: none

Keep docker-compose.yml up-to-date (my-tex-life-with-julia)
  my-tex-life-with-julia/.devcontainer/docker-compose.yml
Due: none

Disable forwarding `.ssh`, `.gitconfig` and `pydrive2fs` (DVC token).
  my-jupyter-with-julia/docker-compose.mustache
  my-tex-life-with-julia/docker-compose.mustache
Due: none

Add a warning message.
  my-jupyter-with-julia/docker-compose.mustache
  my-tex-life-with-julia/docker-compose.mustache
Due: none

Update docker-compose.yml.
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
  my-tex-life-with-julia/.devcontainer/docker-compose.yml
Due: none

Add instructions for read-only service account.
  my-jupyter-with-julia/README.md
Due: none

Container Default Linux Universal
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: none

Both fake-git solution and remove git in Dockerfile do not work.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

Use image debian:stable-slim
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/starship.toml
Due: none

Setup node modules.
  my-mini-explorer/.gitignore
  my-mini-explorer/render.js
Due: none

package.json
  my-mini-explorer/package.json
Due: none

Mustache templates.
  my-mini-explorer/devcontainer.mustache
  my-mini-explorer/docker-compose.mustache
Due: none

Add starship.toml
  my-mini-explorer/.devcontainer/starship.toml
Due: none

Update README
  my-mini-explorer/README.md
Due: none

Add create_project.sh and data.json
  my-mini-explorer/create_project.sh
  my-mini-explorer/data.json
Due: testing2

Add .devcontainer/Dockerfile
  my-mini-explorer/.devcontainer/Dockerfile
Due: none

Add a node guard in creating project script
  my-mini-explorer/create_project.sh
Due: testing2

Add a node guard for the rest `create_project.sh`
  my-jupyter-with-julia/create_project.sh
  my-tex-life-with-julia/create_project.sh
Due: testing2

Update devcontainer user-home settings
  my-mini-explorer/.devcontainer/Dockerfile
  my-mini-explorer/devcontainer.mustache
Due: none

Update mustache-template user home path.
  my-mini-explorer/docker-compose.mustache
Due: none

Update my-workspace devcontainer.
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  data.json
Due: none

Refactor Dockerfiles
  my-mini-explorer/.devcontainer/Dockerfile
  my-mini-explorer/Dockerfile
  my-mini-explorer/docker-compose.yml
Due: dockerbuild1

Install DVC using pip3
  my-mini-explorer/Dockerfile
Due: dockerbuild1

Fix vscode volume.
  .devcontainer/Dockerfile
  my-mini-explorer/Dockerfile
Due: dockerbuild1

Safe wrapper to prevents git push and dvc gc
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  my-mini-explorer/Dockerfile
Due: dockerbuild1

Refine security blocks.
  .devcontainer/Dockerfile
Due: none

Update my-mini-explorer Dockerfile
  .devcontainer/Dockerfile
  my-mini-explorer/Dockerfile
Due: dockerbuild1

Finalize.
  .devcontainer/Dockerfile
  my-mini-explorer/.devcontainer/devcontainer.json
  my-mini-explorer/.devcontainer/docker-compose.yml
  my-mini-explorer/devcontainer.mustache
Due: none

Path conditions:
  dockerbuild1: any of: my-mini-explorer/Dockerfile
  dockerbuild2: any of: julia-debian-build/Dockerfile
  dockerbuild4: any of: quarto-debian-build/Dockerfile
  testing2: any of: *.sh
