Repository okatsn/my-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: dockerbuild1, dockerbuild2, dockerbuild4, testing2

dockerbuild1:
  run: . ./docker_build_and_push.sh

dockerbuild2:
  run: . ./julia-debian-build/docker_build_and_push.sh

dockerbuild4:
  run: . ./quarto-debian-build/docker_build_and_push.sh

testing2:
  run: . ./echo_hello.sh

`pydrive2fs` should be created first if it is mounted to volume.
  my-jupyter-with-julia/Dockerfile
Due: none

Revise comments for such changes.
  my-jupyter-with-julia/Dockerfile
Due: none

Refactor README
  README.md
Due: none

Fix permissions in the end.
  my-jupyter-with-julia/Dockerfile
Due: none

Permission fixing in the image (./Dockerfile) is not working. Try to fix in the final layer (./.devcontainer/Dockerfile)
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: none

Mount pydrive2fs as named volume.
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/docker-compose.mustache
Due: none

Make directory for volume mounting. If directory not exist, docker-compose will fail when mount it to named volume.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Revert "Make directory for volume mounting. If directory not exist, docker-compose will fail when mount it to named volume."
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Revert "Mount pydrive2fs as named volume."
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/docker-compose.mustache
Due: none

Revert "Permission fixing in the image (./Dockerfile) is not working. Try to fix in the final layer (./.devcontainer/Dockerfile)"
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: none

Revert "Fix permissions in the end."
  my-jupyter-with-julia/Dockerfile
Due: none

A concluding remark.
  my-jupyter-with-julia/Dockerfile
Due: none

Annotate permission issue of `pydrivefs` in README.
  README.md
  my-jupyter-with-julia/Dockerfile
Due: none

Document the error "The command 'docker' could not be found in this WSL 2 distro" and tips for re-install WSL and Docker Desktop.
  README.md
Due: none

Revise the optional pkg installation for your new WSL.
  README.md
Due: none

Submodules pinned to branch main.
  .gitmodules
Due: none

Refactor Docker build scripts to support optional build flag and tag processing
  go-debian-build/docker_build_and_push.sh
  julia-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/docker_build_and_push.sh
  my-mini-explorer/docker_build_and_push.sh
  my-tex-life-with-julia/docker_build_and_push.sh
  my-util-box/docker_build_and_push.sh
  quarto-debian-build/docker_build_and_push.sh
Due: testing2

Remove redundant SETME.
  julia-debian-build/Dockerfile
  my-tex-life-with-julia/Dockerfile
Due: dockerbuild2

Update my julia build
  julia-debian-build/Dockerfile
Due: dockerbuild2

Parameterize Quarto version and URL in Dockerfile to
  quarto-debian-build/Dockerfile
Due: dockerbuild4

White space in Dockerfile ARG definition is not allowed
  quarto-debian-build/Dockerfile
Due: dockerbuild4

Dynamic destination `QUARTO_FILE`.
  quarto-debian-build/Dockerfile
Due: dockerbuild4

Fix the syntax error in commented-out line.
  quarto-debian-build/Dockerfile
Due: dockerbuild4

Re-declare ARGs after FROM to make them available
  quarto-debian-build/Dockerfile
Due: dockerbuild4

Update versions in my-jupyter-with-julia
  my-jupyter-with-julia/Dockerfile
Due: none

Install extra font in my-jupyter-with-julia
  my-jupyter-with-julia/Dockerfile
Due: none

re-indent
  my-jupyter-with-julia/.vscode/extensions.json
  my-tex-life-with-julia/.vscode/extensions.json
Due: none

Update recommended extensions.
  my-jupyter-with-julia/.vscode/extensions.json
  my-tex-life-with-julia/.vscode/extensions.json
Due: none

Install qpdf, ghostscript and pdftk.
  my-util-box/Dockerfile
Due: none

A shell script for qdf combine
  shscript/qpdf_combine.sh
Due: testing2

An exemplary code for PDF combine.
  my-util-box/README.md
Due: none

qpdf_combine takes arguments.
  shscript/qpdf_combine.sh
Due: testing2

Fix the argument concatenation error.
  shscript/qpdf_combine.sh
Due: testing2

Add scripts for combining PDFs using qpdf and pdftk (0)
  shscript/gs_combine.sh
  shscript/pdftk_combine.sh
Due: testing2

Replace the commands for docker to execute.
  shscript/gs_combine.sh
  shscript/pdftk_combine.sh
Due: testing2

Add a keynote.
  shscript/stripcomments.sh
Due: testing2

Try but failed.
  my-util-box/README.md
Due: none

Install fonts in my-util-box
  my-util-box/Dockerfile
Due: none

Path conditions:
  dockerbuild1: any of: my-mini-explorer/Dockerfile
  dockerbuild2: any of: julia-debian-build/Dockerfile
  dockerbuild4: any of: quarto-debian-build/Dockerfile
  testing2: any of: *.sh
