Repository okatsn/my-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: dockerbuild1, dockerbuild2, dockerbuild4, testing2

lefthook.yml:

pre-commit:
  commands:
    dockerbuild1:
      glob: "my-mini-explorer/Dockerfile"
      run: . ./docker_build_and_push.sh
    dockerbuild2:
      glob: "julia-debian-build/Dockerfile"
      run: . ./julia-debian-build/docker_build_and_push.sh
    dockerbuild4:
      glob:   "quarto-debian-build/Dockerfile"
      run: . ./quarto-debian-build/docker_build_and_push.sh
    testing:
      run: echo "Hello these are all {staged_files}"
    testing2:
      glob: "*.sh"
      run: . ./echo_hello.sh

# Lefthook:  https://github.com/evilmartians/lefthook
# - Use `lefthook run pre-commit` to manually run pre-commit commands.
# - `glob` is the filter for the name of staged files, that the command will be invoked only when the matched `staged_files` is not empty. See https://github.com/evilmartians/lefthook?tab=readme-ov-file#glob-and-regexp-filters
#
# # Official examples:
# - complete example: https://github.com/evilmartians/lefthook/blob/master/examples/complete/lefthook.yml
# - Configuration: https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
#
# # 3rd party tutorials:
# - https://dev.to/renanpaixao/how-to-set-up-lefthook-to-handle-git-hooks-in-react-applications-527i

Fix fatal typo in `create_tempate.sh`
  my-latex-devcontainer/create_template.sh
Due: testing2

my-jupyter-with-julia v2026c with julia v1.10.0 specifically for fsfriction repo.
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2

Refactor/Clean path handling and ownership modifications.
  my-jupyter-with-julia/Dockerfile
Due: none

Refactor for startup/Project.toml
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/.devcontainer/Project.toml
  my-jupyter-with-julia/.devcontainer/startup.jl
  my-jupyter-with-julia/helper/init.sh
Due: dockerbuild2, testing2

Revert "my-jupyter-with-julia v2026c with julia v1.10.0 specifically for fsfriction repo."
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2

(julia v1.12.6) Julia v1.12-2026c latest and my-jupyter-with-julia v2026c.1
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2

Add versioning convention in README.md
  my-jupyter-with-julia/README.md
Due: none

Create physical manuscript tex files.
  my-latex-devcontainer/chapters/sec_abstract.tex
  my-latex-devcontainer/chapters/sec_conclusion.tex
  my-latex-devcontainer/chapters/sec_discussion.tex
  my-latex-devcontainer/chapters/sec_introduction.tex
  my-latex-devcontainer/chapters/sec_method.tex
  my-latex-devcontainer/chapters/sec_result.tex
  my-latex-devcontainer/contents/abs_1.tex
  my-latex-devcontainer/contents/conclusion_1.tex
  my-latex-devcontainer/contents/discussion_1.tex
  my-latex-devcontainer/contents/intro_1.tex
  my-latex-devcontainer/contents/method_1.tex
  my-latex-devcontainer/contents/result_1.tex
  my-latex-devcontainer/manuscript/main.tex
Due: none

Update `clean_n_zip.sh`.
  my-latex-devcontainer/clean_n_zip.sh
Due: testing2

Add and apply config.tex in an example.
  my-latex-devcontainer/manuscript/config.tex
  my-latex-devcontainer/manuscript/main.tex
Due: none

Add DVC workflow with essentials.
  my-latex-devcontainer/.gitignore
  my-latex-devcontainer/AGENTS.md
  my-latex-devcontainer/diff_ref.sh
  my-latex-devcontainer/dvc.yaml
  my-latex-devcontainer/manuscript/.gitignore
  my-latex-devcontainer/params.yaml
  my-latex-devcontainer/tex_graph.py
Due: testing2

Update AGENTS.md
  my-latex-devcontainer/AGENTS.md
Due: none

Add `main.bib`
  my-latex-devcontainer/manuscript/main.bib
Due: none

Remove/Deprecate `create_template.sh`.
  my-latex-devcontainer/create_template.sh
Due: testing2

Update `create_project.sh`
  my-latex-devcontainer/create_project.sh
Due: testing2

Add compile shell script
  my-latex-devcontainer/manuscript/compile.sh
Due: testing2

Fix main.tex
  my-latex-devcontainer/manuscript/bibtex.bib
  my-latex-devcontainer/manuscript/main.tex
Due: none

Update README.
  my-latex-devcontainer/README.md
Due: none

Update latex-devcontainer
  my-latex-devcontainer/.devcontainer/Dockerfile
  my-latex-devcontainer/clean_n_zip.sh
  my-latex-devcontainer/diff_ref.sh
  my-latex-devcontainer/dvc.yaml
  my-latex-devcontainer/expand_output.sh
  my-latex-devcontainer/manuscript/.gitignore
Due: testing2

Include general instructions in my-jupyter-with-julia settings as default.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Update ruleset to exclude dependabot.
  rulesets/default.json
Due: none

A helper for print contents of files at once.
  my-jupyter-with-julia/helper/cat-files.sh
Due: testing2

Install ripgrep.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Install ripgrep at my-jupyter-with-julia image level.
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: none

Update `.devcontainer/Dockerfile` base image version tag.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Update default instruction file locations.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Helper to initiate a logseq dev-notes framework.
  my-jupyter-with-julia/helper/init-dev-notes.sh
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/ARCH.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/DECISION.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/INDEX.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/REPORT.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/REVIEW.md
Due: testing2

Clean recommended extension list.
  my-jupyter-with-julia/.vscode/extensions.json
Due: none

Logseq utility helpers.
  my-jupyter-with-julia/helper/logseq_refs.py
  my-jupyter-with-julia/helper/test_logseq_pages.py
  my-jupyter-with-julia/helper/test_logseq_refs.py
Due: none

Use `rsnyc` to copy helpers excluding `test_*` files.
  my-jupyter-with-julia/create_project.sh
Due: testing2

Update Query Methods in AGENTS.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Update AGENTS for logseq-dev-notes.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Update `logseq_ref` from `okatsn/WeeklyDiscovery` at branch `develop-hierarchical query`.
  my-jupyter-with-julia/helper/logseq_refs.py
  my-jupyter-with-julia/helper/test_logseq_pages.py
  my-jupyter-with-julia/helper/test_logseq_refs.py
Due: none

Add `exclude-from-graph-view:: true` for parent class pages.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/ARCH.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/DECISION.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/INDEX.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/REPORT.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/REVIEW.md
Due: none

Saying that `chat` should be always regarded as "UNVERIFIED".
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Instructions for logseq-dev-notes agents to avoid strong words and to write "no more or less".
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Update settings.json
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Write/Update tests first. With the following prompt
  my-jupyter-with-julia/helper/test_logseq_pages.py
  my-jupyter-with-julia/helper/test_logseq_refs.py
Due: none

Revise `logseq_refs.py`
  my-jupyter-with-julia/helper/logseq_refs.py
Due: none
