Repository okatsn/my-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: dockerbuild, testing2

lefthook.yml:

pre-commit:
  commands:
    dockerbuild:
      glob: "my-mini-explorer/Dockerfile"
      run: . ./docker_build_and_push.sh
    testing:
      run: echo "Hello these are all {staged_files}"
    testing2:
      glob: "*.sh"
      run: . ./echo_hello.sh
# - Use `lefthook run pre-commit` to manually run pre-commit commands.
# - `glob` is the filter for the name of staged files, that the command will be invoked only when the matched `staged_files` is not empty. See https://github.com/evilmartians/lefthook?tab=readme-ov-file#glob-and-regexp-filters
# - VSCode commit will not trigger the lefthook actions.

Modify my-mini-explorer/Dockerfile and docker_build_and_push should run.
  echo_hello.sh
  lefthook.yml
  my-mini-explorer/Dockerfile
  my-mini-explorer/README.md
Due: dockerbuild, testing2

Lefthook for julia and quarto build
  README.md
  julia-debian-build/docker_build_and_push.sh
  lefthook.yml
  quarto-debian-build/docker_build_and_push.sh
Due: testing2

Test
  julia-debian-build/Dockerfile
  quarto-debian-build/Dockerfile
Due: none

Add tree
  docker_build_and_push.sh
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-tex-life-with-julia/.devcontainer/Dockerfile
Due: testing2

Move and refactor.
  lefthook.yml
  my-mini-explorer/docker_build_and_push.sh
Due: testing2

Update README
  README.md
Due: none

Update pandoc in my-jupyter
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

julia build to 1.10 LTS
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-tex-life-with-julia/.devcontainer/Dockerfile
Due: none

Add shortnotes for installing pip and git-filter-repo
  README.md
Due: none

Handling the error "Are you trying to mount a directory onto a file (or vice-versa)?"
  README.md
Due: none

Git and DVC auto completion for mini-explorer.
  my-mini-explorer/Dockerfile
  my-mini-explorer/README.md
Due: dockerbuild

Trivial modifications.
  README.md
Due: none

Instruction on Merge two repositories as a squash
  INSTRUCTION_submodules.md
Due: none

Set time zone correctly and notes on `GRANT_SUDO`.
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
Due: none

Update my-quarto-build tags.
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-tex-life-with-julia/.devcontainer/Dockerfile
Due: none

Add submodule instructions
  INSTRUCTION_submodules.md
Due: none

VSCode setting for my-tex-life-with-julia
  my-tex-life-with-julia/.gitignore
  my-tex-life-with-julia/.vscode/settings.json
Due: none

Fix ltex.dictionary settings.
  my-tex-life-with-julia/.devcontainer/devcontainer.json
  my-tex-life-with-julia/.vscode/ltex.dictionary.en-US.txt
  my-tex-life-with-julia/ltex-dictionary/externalFile.txt
Due: none

Documenting knowledges so far for granting sudo to jovyan.
  README.md
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
Due: none

Concluding remark for the section "Grant sudo for `jovyan`".
  README.md
Due: none

Preinstall jq and add cheatsheet for "DVC files batch import".
  README.md
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-tex-life-with-julia/.devcontainer/Dockerfile
Due: none

An one-line command example for batch dvc import.
  README.md
Due: none

An important warning.
  README.md
Due: none

Set cache directory to volume (this makes DVC credential persistant).
  my-jupyter-with-julia/docker-compose.mustache
  my-tex-life-with-julia/docker-compose.mustache
Due: none

An empty ruff.toml
  my-jupyter-with-julia/ruff.toml
Due: none

Fix time stamp.
  my-jupyter-with-julia/ruff.toml
Due: none

Recommended extensions.
  my-jupyter-with-julia/.vscode/extensions.json
Due: none

Install UV and recommend Ruff.
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/.vscode/extensions.json
Due: none

CHECKPOINT
  my-jupyter-with-julia/py_projects/README.md
Due: none

Consistent interface (no need to cd before runing sh script)
  my-jupyter-with-julia/create_project.sh
  my-tex-life-with-julia/create_project.sh
Due: testing2

Consistent interface (fix incorrect context)
  my-jupyter-with-julia/create_project.sh
  my-tex-life-with-julia/create_project.sh
Due: testing2

Update docker compose files based on latest mustache
  my-jupyter-with-julia/.devcontainer/devcontainer.json
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
Due: none

Fix time zone.
  my-jupyter-with-julia/docker-compose.mustache
Due: none

A if-else block to avoid unintented cp behaviors.
  my-jupyter-with-julia/create_project.sh
  my-tex-life-with-julia/create_project.sh
Due: testing2

Delay exit for user to see the error message.
  my-jupyter-with-julia/create_project.sh
  my-tex-life-with-julia/create_project.sh
Due: testing2

An example of initiate a python project using UV.
  my-jupyter-with-julia/py_projects/README.md
Due: none

Notes on PyTest.
  my-jupyter-with-julia/py_projects/README.md
Due: none

Hints for VSCode setting.
  my-jupyter-with-julia/py_projects/README.md
Due: none
