Repository okatsn/my-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: dockerbuild1, dockerbuild2, dockerbuild4, testing2

dockerbuild1:
  run: . ./docker_build_and_push.sh

dockerbuild2:
  run: . ./julia-debian-build/docker_build_and_push.sh

dockerbuild4:
  run: . ./quarto-debian-build/docker_build_and_push.sh

testing2:
  run: . ./echo_hello.sh

Update helping message.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
  my-jupyter-with-julia/helper/logseq_refs.py
Due: none

Fix tests.
  my-jupyter-with-julia/helper/test_logseq_pages.py
Due: none

Add feature "--skip-namespace" and its tests.
  my-jupyter-with-julia/helper/logseq_refs.py
  my-jupyter-with-julia/helper/test_logseq_refs.py
Due: none

Update AGENTS.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Tolerate "___" separator in logseq_refs.py. Old tests passed.
  my-jupyter-with-julia/helper/logseq_refs.py
Due: none

Update instructions to use `logseq_refs.py`
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Refresh AGENTS for explicit logseq OG workarounds.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Fix typo
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Update logseq-dev-notes AGENT.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/ARCH.md
Due: none

Revise the journal page interface of using `logseq_refs.py`.
  my-jupyter-with-julia/helper/logseq_refs.py
  my-jupyter-with-julia/helper/test_logseq_pages.py
Due: none

Update logseq-dev-notes AGENTS for progressive disclosure.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Do some wording.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Update representative path convention for logseq graph path.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Update logseq template for status pages.
  my-jupyter-with-julia/helper/init-dev-notes.sh
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/ACTIVE.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/DEFERRED.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/RESOLVED.md
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/STALE.md
Due: testing2

Add terminal_snippets.sh.
  shscripts/terminal_snippets.sh
Due: testing2

Update AGENTS for journal date clarification.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Extending logseq_refs refs to print pages.
  my-jupyter-with-julia/helper/logseq_refs.py
Due: none

Update tests. Now all passed.
  my-jupyter-with-julia/helper/test_logseq_refs.py
Due: none

Simplify instruction of using `rg`.
  my-jupyter-with-julia/helper/logseq-dev-notes-templates/AGENTS.md
Due: none

Create initial cutpaste-one.py
  my-jupyter-with-julia/helper/cutpaste-one.py
Due: none

Refine script and add tests.
  my-jupyter-with-julia/helper/cutpaste-one.py
  my-jupyter-with-julia/helper/test_cutpaste_one.py
Due: none

Add `"SSH_AUTH_SOCK": ""`
  my-jupyter-with-julia/.devcontainer/devcontainer.json
Due: none

Update to julia v1.13
  julia-debian-build/Dockerfile
  julia-debian-build/README.md
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
  my-jupyter-with-julia/helper/init.sh
Due: dockerbuild2, testing2

Description for the issue as the background context.
  temp.md
Due: none

Phase 0: share docker build/push logic and guard immutable tags
  go-debian-build/docker_build_and_push.sh
  julia-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/docker_build_and_push.sh
  my-latex-devcontainer/docker_build_and_push.sh
  my-mini-explorer/docker_build_and_push.sh
  my-util-box/docker_build_and_push.sh
  quarto-debian-build/docker_build_and_push.sh
  shscripts/docker_build_push_lib.sh
Due: testing2

Phase 1: drive the Julia build from release.env
  julia-debian-build/Dockerfile
  julia-debian-build/docker-compose.yml
  julia-debian-build/docker_build_and_push.sh
  release.env
  shscripts/docker_build_push_lib.sh
  shscripts/release_vars.sh
Due: dockerbuild2, testing2

Phase 2: drive the Quarto build from release.env
  quarto-debian-build/Dockerfile
  quarto-debian-build/docker-compose.yml
  quarto-debian-build/docker_build_and_push.sh
  release.env
  shscripts/release_vars.sh
Due: dockerbuild4, testing2

Phase 3: build my-jupyter-with-julia from immutable build-image refs
  julia-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/Dockerfile
  my-jupyter-with-julia/docker-compose.yml
  my-jupyter-with-julia/docker_build_and_push.sh
  quarto-debian-build/docker_build_and_push.sh
  release.env
  shscripts/release_vars.sh
Due: testing2

Phase 4: guard the distributed Dockerfile against release.env
  my-jupyter-with-julia/docker_build_and_push.sh
  shscripts/check_release.sh
Due: testing2

Phase 5: document the release.env based version bump
  README.md
  julia-debian-build/README.md
  my-jupyter-with-julia/README.md
  quarto-debian-build/README.md
Due: none

Remove stale lefthook.yml
  lefthook.yml
Due: none

Update debian version to bookworm:
  my-build.env
  release.env
Due: none

Typst 1/3: pin TYPST_VERSION in release.env and derive its tags
  release.env
  shscripts/release_vars.sh
Due: testing2

Typst 2/3: mirror the official Typst image instead of building it
  shscripts/docker_build_push_lib.sh
  typst-mirror/docker_build_and_push.sh
Due: testing2

Typst 3/3: remove the typst-official-build submodule and document the mirror
  .gitmodules
  my-jupyter-with-julia/README.md
  typst-mirror/README.md
Due: none

Document why Typst is mirrored and how to drop the mirror
  typst-mirror/README.md
Due: none

Update my-jupyter-with-julia to `2026c.3`.
  my-jupyter-with-julia/.devcontainer/Dockerfile
  release.env
Due: none

Path conditions:
  dockerbuild1: any of: my-mini-explorer/Dockerfile
  dockerbuild2: any of: julia-debian-build/Dockerfile
  dockerbuild4: any of: quarto-debian-build/Dockerfile
  testing2: any of: *.sh
