Repository okatsn/my-workspace: changes, and which lefthook commands are due for each by the changed paths.
All: dockerbuild1, dockerbuild2, dockerbuild4, testing2

lefthook.yml:

pre-commit:
  commands:
    dockerbuild1:
      glob: "my-mini-explorer/Dockerfile"
      run: . ./docker_build_and_push.sh
    dockerbuild2:
      glob: "julia-debian-build/Dockerfile"
      run: . ./julia-debian-build/docker_build_and_push.sh
    dockerbuild4:
      glob:   "quarto-debian-build/Dockerfile"
      run: . ./quarto-debian-build/docker_build_and_push.sh
    testing:
      run: echo "Hello these are all {staged_files}"
    testing2:
      glob: "*.sh"
      run: . ./echo_hello.sh

# Lefthook:  https://github.com/evilmartians/lefthook
# - Use `lefthook run pre-commit` to manually run pre-commit commands.
# - `glob` is the filter for the name of staged files, that the command will be invoked only when the matched `staged_files` is not empty. See https://github.com/evilmartians/lefthook?tab=readme-ov-file#glob-and-regexp-filters
#
# # Official examples:
# - complete example: https://github.com/evilmartians/lefthook/blob/master/examples/complete/lefthook.yml
# - Configuration: https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
#
# # 3rd party tutorials:
# - https://dev.to/renanpaixao/how-to-set-up-lefthook-to-handle-git-hooks-in-react-applications-527i

Fix the rest of filename (output xx is deprecated)
  my-tex-life-with-julia/clean_n_zip.sh
  my-tex-life-with-julia/create_template.sh
  my-tex-life-with-julia/expand_output.sh
Due: testing2

Install npm for my jupyter with julia
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-tex-life-with-julia/.devcontainer/Dockerfile
Due: none

Deprecate the old use of `docker-compose`
  go-debian-build/docker_build_and_push.sh
  julia-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/docker_build_and_push.sh
  my-mini-explorer/docker_build_and_push.sh
  quarto-debian-build/docker_build_and_push.sh
Due: testing2

Push `okatsn/my-julia-build:v1.12-2025c`
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2

`okatsn/my-jupyter-with-julia:v2025e`
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Add "julia.NumThreads": 1, in settings.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Revise the way for julia initial script setup
  julia-debian-build/Dockerfile
  julia-debian-build/init_julia.sh
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2, testing2

Update README
  julia-debian-build/README.md
  my-jupyter-with-julia/Dockerfile
Due: none

Use a `init.sh` file for julia initiation.
  my-jupyter-with-julia/.devcontainer/init.sh
  my-jupyter-with-julia/Dockerfile
Due: testing2

Final clean for julia-debian-build.
  julia-debian-build/Dockerfile
  julia-debian-build/README.md
  julia-debian-build/init_julia.sh
Due: dockerbuild2, testing2

Comment on `init.sh` for version input.
  my-jupyter-with-julia/.devcontainer/init.sh
Due: testing2

Extension recommendation for Graphviz preview.
  my-jupyter-with-julia/.vscode/extensions.json
Due: none

Just a comment on Dockerfile.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Fix apt syntax.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Update julia v1.12.1
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2

Updated docker-compose → docker compose
  README.md
  julia-debian-build/README.md
  my-mini-explorer/README.md
  python-debian-build/README.md
  quarto-debian-build/README.md
Due: none

Change the default julia color to jl-red.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Add a comment.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Add Keynotes to credential binding.
  my-jupyter-with-julia/.devcontainer/docker-compose.yml
Due: none

Optional installation for `git-crypt` in my-jupyter-with-julia.
  my-jupyter-with-julia/.devcontainer/Dockerfile
Due: none

Update comments in Dockerfile for julia initiation.
  my-jupyter-with-julia/.devcontainer/init.sh
  my-jupyter-with-julia/Dockerfile
Due: testing2

Set julia `executablePath`.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Add dvcdag.
  my-jupyter-with-julia/create_project.sh
  my-jupyter-with-julia/helper/.gitignore
  my-jupyter-with-julia/helper/dvcdag.sh
Due: testing2

Move init.sh to helper directory.
  my-jupyter-with-julia/helper/init.sh
Due: testing2

Refine the julia-initiation helper.
  my-jupyter-with-julia/helper/init.sh
Due: testing2

Update an error message.
  julia-debian-build/startup.jl
Due: none

Update julia build to v1.12.4
  julia-debian-build/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: dockerbuild2

Unify directory execution behavior.
  go-debian-build/docker_build_and_push.sh
  julia-debian-build/README.md
  julia-debian-build/docker_build_and_push.sh
  my-jupyter-with-julia/create_project.sh
  my-jupyter-with-julia/docker_build_and_push.sh
  my-tex-life-with-julia/create_project.sh
  my-tex-life-with-julia/docker_build_and_push.sh
  my-util-box/docker_build_and_push.sh
  quarto-debian-build/README.md
  quarto-debian-build/docker_build_and_push.sh
Due: testing2

Update bash script in README.
  my-jupyter-with-julia/README.md
  my-tex-life-with-julia/README.md
Due: none

Update `my-typst-space` in `my-jupyter-with-julia` to v2026a.
  my-jupyter-with-julia/Dockerfile
Due: none

Update Quarto to v1.8.26
  my-jupyter-with-julia/Dockerfile
  quarto-debian-build/Dockerfile
Due: dockerbuild4

my-jupyter-with-julia v2026a.
  my-jupyter-with-julia/.devcontainer/Dockerfile
  my-jupyter-with-julia/Dockerfile
Due: none

Update dependabot action to a weekly recurrent period.
  my-jupyter-with-julia/.github/dependabot.yml
Due: none

Add Infiltrator in `julia-debian-build`.
  julia-debian-build/Project.toml
  julia-debian-build/startup.jl
Due: none

Attach `my-agents` as volume and control which are going to be enabled in vscode settings
  my-jupyter-with-julia/.vscode/settings.json
  my-jupyter-with-julia/docker-compose.mustache
Due: none

Update the rule of binding my-agents.
  my-jupyter-with-julia/docker-compose.mustache
Due: none

Assign `promptFilesLocations`.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Add instruction file location for my-jupyter-with-julia.
  my-jupyter-with-julia/.vscode/settings.json
Due: none

Setup custom agent file locations.
  .vscode/settings.json
Due: none
